@color-primario: #333333;
@color-claro: #FFFFFF;
@color-secundario: #BB41da;
@color-variacion: #012179;
@Fuente1:'Lato', sans-serif;
@Fuente2:'Oswald', sans-serif;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333333;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
